#site-head {
    background-color: #FFA959;
}

.post-holder.odd {
    background-color: #FFA959;
}

.btn.site-menu {
    background-color: #FFA959;
}

a.btn {
    background-color: #732E10;
  }

  a.btn:hover {
    background-color: #732E10;
  }

  #site-head-content {
    background-position-x: right !important;
    background-position-y: bottom !important;
    padding-top: 5em;
  }

  #site-head-content img {
    -webkit-filter: drop-shadow(2px 2px 2px #111111);
    filter: drop-shadow(2px 2px 2px #111111);
    min-width: 500px;
  }

a.fn-item.active {
    color: #732E10;
}
a.fn-item:hover {
    color: #732E10;
}